* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Header */
.top-header {
    background: linear-gradient(to right, rgb(255, 123, 0), rgb(248, 219, 0));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}

.logo  {
    font-weight: bold;
}

.logo img {
    height: 50px;
    
}

.top-header h1 {
    font-size: 28px;
}

.auth a {
    margin-left: 15px;
    text-decoration: none;
    color: black;
}

/* Menu */
.menu {
    background: #666;
    display: flex;
    justify-content: center;
}

.menu a {
    flex: 1;                 /* สำคัญ: ทำให้แต่ละเมนูกว้างเท่ากัน */
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 12px 0;
    font-size: 28px;
}

/* Container */
.container {
    background: #e6e6e6;
    padding: 30px;
}

/* Banner */
.banner {
    background: #b3b3b3;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    margin-bottom: 40px;
}

/* Car Grid */
.car-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.car-card {
    background: #777;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
}
