* {
    box-sizing: border-box;
    font-family: sans-serif;
}

.top-header {
    background: linear-gradient(to right, rgb(255, 123, 0), rgb(248, 219, 0));
    display: flex;
    flex-direction: column;   /* สำคัญ: เรียงบน-ล่าง */
    align-items: center;      /* จัดกึ่งกลางแนวนอน */
    justify-content: center;  /* จัดกึ่งกลางแนวตั้ง */
    padding: 60px 40px;
}

.logo  {
    font-weight: bold;
}

.logo img {
    height: 50px;
    
}
body {
    background: #e6e6e6;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

/* กล่องหลัก */
.signup-container {
    background: #b3b3b3;
    width: 700px;
    padding: 40px 60px;
}

/* หัวข้อ */
.signup-container h1 {
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

/* label + input */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    background: #e6e6e6;
}

/* แถว 2 ช่อง */
.row {
    display: flex;
    gap: 20px;
}

.row > div {
    flex: 1;
}

/* ปุ่ม */
.buttons {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 20px;
}

button {
    padding: 10px 40px;
    border: none;
    background: #e6e6e6;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #d0d0d0;
}
